<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="container" style="padding-top: 6%">

    <div class="col-md-4">
    </div>

    <div class="col-md-4">
        <h1><img src="/progetto/static/images/twitterChannel/new-tweet.png" style="width:42px;height:42px;border:0;"/>
            Post a new tweet</h1>
        <hr>
        <form id="gmail-form" role="form" name="form" data-ng-controller="action1TwitterController" novalidate>

            <div class="form-group">
                <label>
                     <img src="/progetto/static/images/twitterChannel/tweet-text.png" height="30" width="30"/> Tweet
                    content
                </label><br/>
                            <textarea class="form-control" rows="5" id="subjectReceive" placeholder="insert the subject"
                                      data-ng-model="action1TwitterInput.subjectReceive" name="subjectReceive"
                                      maxlength="500" data-ng-trim="false"
                            ></textarea>
                    <span>{{500 - action1TwitterInput.subjectReceive.length}} left </span>
            </div>


            <div>
                <a type="submit" class="btn btn-danger pull-left animate-if"
                   href="#allActions"
                   data-ng-show="!modifyButton && !importRecipe"
                >Cancel</a>

                <a type="submit" class="btn btn-danger pull-left animate-if"
                   href="#choseModify"
                   data-ng-show="modifyButton && !importRecipe"
                >Cancel</a>


                <a type="submit" class="btn btn-danger pull-left animate-if"
                   data-ng-click="backfunctionActionPuclicRecipe()"
                   data-ng-show="importRecipe && !modifyButton"
                >Cancel</a>


                <a type="submit"
                   class="btn btn-primary pull-right btn_next6 animate-if"
                   data-ng-click="twitterAction1func()"
                   data-ng-show="!modifyButton"
                >Submit</a>


                <a type="submit"
                   class="btn btn-primary pull-right btn_next6 animate-if"
                   data-ng-click="twitterAction1func()"
                   data-ng-show="modifyButton"
                >Submit</a>


                <!--  data-toggle="modal" data-target="#recipedDescriptionModal" -->

                <br>
                <br>
                <hr>

            </div>


            <!--
            href="#actionGcalendar"
                   http://localhost:8080/index.jsp#/SubGMail
                   <a  type="submit" class="btn btn-primary" href="#logged_in" >Home</a>
                   <a  type="submit" class="btn btn-primary"  href="#SubGMailAction" ng-click="triggerGmail(action1TwitterInput)">Next</a>
                   -->

        </form>
    </div>

    <div class="col-md-4">
    </div>

</div>

</body>

<script>

    var uri = decodeURIComponent(window.location.hash);
    var param = (uri).split("?");
    var trig;
    var act;
    if (param[1] != null) {
        var tokens = param[1].split("&");
        var vardec = JSON.parse(CryptoJS.AES.decrypt(tokens[0].split("=")[1], "Secret Passphrase").toString(CryptoJS.enc.Utf8));
        count = vardec.count;
        setChooseAx = vardec.setChooseAx;
        modifyVar = vardec.modifyVar;
        modifyCountVar = vardec.modifyCountVar;
        flagTriggerDone = vardec.flagTriggerDone;
        importFlag = vardec.importFlag;
        descriptionRecipeGlobal = vardec.descriptionRecipeGlobal;
        idRecipe = vardec.idRecipe;
        iftttLogin = vardec.iftttLogin;
        if (tokens[1] != null && CryptoJS.AES.decrypt(tokens[1].split("trigger=")[1], "Secret Passphrase").toString(CryptoJS.enc.Utf8).localeCompare("") != 0) {
            trig = tokens[1].split("trigger=")[1];
            var dec = CryptoJS.AES.decrypt(trig.toString(), "Secret Passphrase").toString(CryptoJS.enc.Utf8);
            modulinoj1 = JSON.parse(dec);
            console.log(modulinoj1)
        }
        if (tokens[2] != null && CryptoJS.AES.decrypt(tokens[2].split("action=")[1], "Secret Passphrase").toString(CryptoJS.enc.Utf8).localeCompare("") != 0) {
            act = tokens[2].split("action=")[1];
            var dec1 = CryptoJS.AES.decrypt(act.toString(), "Secret Passphrase").toString(CryptoJS.enc.Utf8);
            modulinoj2 = JSON.parse(dec1);
            console.log(modulinoj2)
        }
    }

    if (importFlag == true) {
        if (iftttLogin == false) {
            url = "#home";
            window.location.replace(url);
        }

    }
    else {
        if (setChooseAx == 5) {
            if (iftttLogin == false) {
                url = "#home";
                window.location.replace(url);
            }

        }
        else {
            if (modifyVar == 1) {
                if (iftttLogin == false) {
                    url = "#home";
                    window.location.replace(url);
                    modifyCountVar = 0;
                }
                else {
                    if (twitterLogin == "1") {
                        if (modifyCountVar == 2) {
                            modifyCountVar++;
                        }
                        else {
                            if (modifyCountVar < 2) {
                                url = "#/index/myRecipes";
                                window.location.replace(url);
                            }

                        }


                    }
                    else {
                        url = "#home";
                        window.location.replace(url);
                        alertWarning("Non sei loggato a Twitter");
                    }
                }
            }
            else {

                if (iftttLogin == false) {
                    url = "#home";
                    window.location.replace(url);
                    count = 0;
                    flagTriggerDone = "0";
                }
                else {
                    if (twitterLogin == "1") {
                        if (flagTriggerDone == "0") {
                            alert("Warning you must compile before the trigger form");
                            var url = "#allTriggers";
                            window.location.replace(url);
                        }
                        else {
                            if (count == 5) {
                                count++;
                            }
                            else {
                                if (count < 5) {
                                    var url = "#createDO";
                                    window.location.replace(url);
                                }

                            }

                        }


                    }
                    else {
                        alert("You are not logged please loged and return here");
                        var url = "#createDO";
                        window.location.replace(url);

                    }
                }

            }

        }
    }
</script>


<!--href="#SubGMailAction" -->


<!--
Example code
<label>Click me to toggle: <input type="checkbox" ng-model="checked"></label><br/>
<button ng-model="button" ng-disabled="checked">Button</button>
-->
</html>


