<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

            <div class="row" style="padding-top: 6%">

                <div class="col-md-4">
                </div>

                <div class="col-md-4">
                    <p><h1><img src="../../images/twitterChannel/new-tweet.png" style="width:42px;height:42px;border:0;"/> Post a new tweet</h1></p>
                    <hr>
                    <form id="gmail-form" role="form" name="form" ng-controller="action1TwitterController" novalidate>

                        <div class="form-group">
                            <label>
                                <input
                                        type="checkbox"
                                        ng-model="checkedSubject"

                                > <img src="../../images/placeholder.png" height="30" width="30"/> Tweet content
                            </label><br/>
                            <div  ng-if="checkedSubject" class="animate-if">
                            <textarea class="form-control" rows="5" id="subjectReceive"  placeholder="insert the subject"
                                      ng-model="action1TwitterInput.subjectReceive"  name="subjectReceive"  ng-disabled="!checkedSubject"
                                      maxlength="500" ng-trim="false"
                            ></textarea>
                            <span>{{500 - action1TwitterInput.subjectReceive.length}} left </span>
                                </div>
                        </div>





                        <div>
                            <a  type="submit" class="btn btn-danger pull-left animate-if" href="#allActions"
                                ng-if="!modifyButton"
                            >Cancel</a>

                            <a  type="submit" class="btn btn-danger pull-left animate-if" href="#choseModify"
                                ng-if="modifyButton"
                            >Cancel</a>


                            <a    ng-disabled="!checkedSubject" type="submit"
                                class="btn btn-primary pull-right btn_next6 animate-if" ng-click="twitterAction1func()"
                                  ng-if="!modifyButton"
                            >Submit</a>


                            <a    ng-disabled="!checkedSubject" type="submit"
                                  class="btn btn-primary pull-right btn_next6 animate-if" ng-click="twitterAction1func()"
                                  ng-if="modifyButton"
                            >Submit</a>




                            <!--  data-toggle="modal" data-target="#recipedDescriptionModal" -->

                            <br>
                            <br>
                            <hr>

                        </div>
                        <label style="color: #cd0a0a" ng-if="!checkedSubject" class="animate-if" >
                            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> Make at least one choice to use this trigger
                        </label>

                        <!--
                        href="#actionGcalendar"
                               http://localhost:8080/index.jsp#/SubGMail
                               <a  type="submit" class="btn btn-primary" href="#logged_in" >Home</a>
                               <a  type="submit" class="btn btn-primary"  href="#SubGMailAction" ng-click="triggerGmail(action1TwitterInput)">Next</a>
                               -->

                    </form>
                </div>

                <div class="col-md-4">
                </div>

            </div>

</body>

<script>
    if (setChooseAx == 5)
    {
        if (iftttLogin == false)
        {
            url = "#home";
            window.location.replace(url);
        }

    }
    else {
        if (modifyVar == 1) {
            if (iftttLogin == false) {
                url = "#home";
                window.location.replace(url);
                modifyCountVar = 0;
            }
            else {
                if (twitterLogin == "1") {
                    if (modifyCountVar == 2) {
                        modifyCountVar++;
                    }
                    else {
                        if (modifyCountVar < 2) {
                            url = "#/index/myRecipes";
                            window.location.replace(url);
                        }

                    }


                }
                else {
                    url = "#home";
                    window.location.replace(url);
                    alert("Non sei loggato a google");
                }
            }
        }
        else {

            if (iftttLogin == false) {
                url = "#home";
                window.location.replace(url);
                count = 0;
                flagTriggerDone = "0";
            }
            else {
                if (twitterLogin == "1") {
                    if (flagTriggerDone == "0") {
                        alert("Warning you must compile before the trigger form");
                        var url = "#allTriggers";
                        window.location.replace(url);
                    }
                    else {
                        if (count == 5) {
                            count++;
                        }
                        else {
                            if (count < 5) {
                                var url = "#createDO";
                                window.location.replace(url);
                            }

                        }

                    }


                }
                else {
                    alert("You are not logged please loged and return here");
                    var url = "#createDO";
                    window.location.replace(url);

                }
            }

        }

    }
</script>



<!--href="#SubGMailAction" -->


<!--
Example code
<label>Click me to toggle: <input type="checkbox" ng-model="checked"></label><br/>
<button ng-model="button" ng-disabled="checked">Button</button>
-->
</html>


