<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>


            <div class="row" style="padding-top: 6%">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <p><h1><img src="../../images/twitterChannel/private-msg.png" style="width:42px;height:42px;border:0;"> Tweet direct message trigger</h1></p>
                    <hr>
                    <form id="gmail-form" role="form" name="form" ng-controller="trigger2TwitterController" novalidate>

                        <div class="form-group">
                            <label>
                                <input
                                        type="checkbox"
                                        ng-model="checkedtitle"

                                > <img src="../../images/trigger-icons/twitteruser.png" height="30" width="30"/> <b>From twitter user</b>
                            </label>
                            <div  ng-if="checkedtitle" class="animate-if">
                            <input type="title"  ng-disabled="!checkedtitle" class="form-control" id="title" placeholder="insert your title"
                                   ng-model="trigger2TwitterInput.title"
                                   required="" name="utitle"
                                   maxlength="100"
                                   ng-trim="false"
                            >
                            <span>{{100 - trigger2TwitterInput.title.length}} left </span>
                                </div>
                        </div>


                        <!--Subject e.mail -->
                        <div class="form-group">
                            <label>
                                <input
                                        type="checkbox"
                                        ng-model="checkedSubject"

                                > <img src="../../innerPages/gmailChannel/email-text-search.png" height="30" width="30"/><b>Message content</b>
                            </label>
                            <div  ng-if="checkedSubject" class="animate-if">
                            <textarea class="form-control" rows="5" id="subjectReceive"  placeholder="insert the subject"
                                      ng-model="trigger2TwitterInput.subjectReceive"  name="subjectReceive"  ng-disabled="!checkedSubject"
                                      maxlength="500" ng-trim="false"
                            ></textarea>
                            <span>{{500 - trigger2TwitterInput.subjectReceive.length}} left </span>
                                </div>
                        </div>

                        <hr>

                        <div>
                            <a  type="submit" class="btn btn-danger pull-left animate-if" href="#allTriggers"
                                ng-if="!modifyButton"
                            >Cancel</a>

                            <a  type="submit" class="btn btn-danger pull-left animate-if" href="#choseModify"
                                ng-if="modifyButton"
                            >Cancel</a>


                            <a   ng-disabled="!checkedtitle && !checkedSubject" type="submit"
                                 ng-if="!modifyButton"
                                class="btn btn-primary pull-right btn_next3 animate-if"  ng-click="trigger2Twitterfunc()" >Next</a>

                            <a   ng-disabled="!checkedtitle && !checkedSubject" type="submit"
                                 ng-if="modifyButton"
                                 class="btn btn-primary pull-right btn_next3 animate-if"  ng-click="trigger2Twitterfunc()" >Submit</a>



                        </div>
                        <br>
                        <br>
                        <hr>
                        <label style="color: #cd0a0a" ng-if="!checkedtitle && !checkedSubject" class="animate-if" >
                            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> Make at least one choice to use this trigger
                        </label>

                        <!--
                        href="#actionGcalendar"
                               http://localhost:8080/index.jsp#/SubGMail
                               <a  type="submit" class="btn btn-primary" href="#logged_in" >Home</a>
                               <a  type="submit" class="btn btn-primary"  href="#SubGMailAction" ng-click="triggerGmail(gmailinput)">Next</a>
                               -->

                    </form>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>

</div>

</body>

<script>
    if (setChooseAx == 4)
    {
        if (iftttLogin == false)
        {
            url = "#home";
            window.location.replace(url);
        }

    }
    else {
        if (modifyVar == 1) {
            if (iftttLogin == false) {
                url = "#home";
                window.location.replace(url);
                modifyCountVar = 0;
            }
            else {
                if (twitterLogin == "1") {
                    if (modifyCountVar == 2) {
                        modifyCountVar++;
                    }
                    else {
                        if (modifyCountVar < 2) {
                            url = "#/index/myRecipes";
                            window.location.replace(url);
                        }

                    }


                }
                else {
                    url = "#home";
                    window.location.replace(url);
                    alert("Non sei loggato a google");
                }
            }
        }


        else {


            if (iftttLogin == false) {
                url = "#home";
                window.location.replace(url);
                count = 0;
                flagTriggerDone = "0";
            }
            else {

                if (twitterLogin == "1") {
                    if (count == 2) {
                        count++;
                        url1back = "#Trigger2Twitter";
                    }
                    else {
                        if (count < 2) {
                            url = "#allTriggers";
                            window.location.replace(url);
                        }

                    }
                }
                else {
                    url = "#allTriggers";
                    window.location.replace(url);
                }

            }
        }
    }
</script>

<!--href="#SubGMailAction" -->


<!--
Example code
<label>Click me to toggle: <input type="checkbox" ng-model="checked"></label><br/>
<button ng-model="button" ng-disabled="checked">Button</button>
-->
</html>


