<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<body>
<div>
    <div class="row" style="padding-top: 6%">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <p>
            <h1><img src="/progetto/static/images/gcalendarChannel/new-event.png"
                     style="width:42px;height:42px;border:0;"/> Create new GCalendar event</h1>
            </p>
            <hr>
            <form id="gmail-form" role="form" name="form" data-ng-controller="action1GcalendarController" novalidate>

                <div class="form-group">
                    <label>
                        <input
                                type="checkbox"
                                data-ng-model="checkedtitle"
                                id="idcheckedtitle"

                        > <img src="/progetto/static/images/gcalendarChannel/event-name.png" height="30" width="30"/>
                        Event name</label>

                    <br/>
                    <div data-ng-show="checkedtitle" class="animate-if">
                        <input type="text" data-ng-disabled="!checkedtitle" class="form-control" id="title"
                               placeholder="insert your title"
                               data-ng-model="gcalendarinput.title"
                               required="" name="utitle"
                               maxlength="100"
                               data-ng-trim="false"
                        >
                        <span>{{100 - gcalendarinput.title.length}} left </span>
                    </div>
                </div>


<!--EVENT DESCRIPTION -->
                <div class="form-group">
                    <label>
                        <input
                                type="checkbox"
                                data-ng-model="checkedSubject"
                                id="idcheckedSubject"

                        > <img src="/progetto/static/images/gcalendarChannel/event-description.png" height="30"
                               width="30"/> Event description</label>
                    <br>
                    <div data-ng-show="checkedSubject" class="animate-if">
                            <textarea class="form-control" rows="5" id="subjectReceive" placeholder="insert the subject"
                                      data-ng-model="gcalendarinput.subjectReceive" name="subjectReceive"
                                      data-ng-disabled="!checkedSubject"
                                      maxlength="500" data-ng-trim="false"
                            ></textarea>
                        <span>{{500 - gcalendarinput.subjectReceive.length}} left </span>
                    </div>
                </div>


                <!-- place -->
                <div class="form-group">
                    <label>
                        <input
                                type="checkbox"
                                data-ng-model="checkedplace"
                                id="idcheckedplace"

                        > <img src="/progetto/static/images/gcalendarChannel/event-location.png" height="30"
                               width="30"/> Event location</label>
                    <br>
                    <div data-ng-show="checkedplace" class="animate-if">
                        <input type="text" data-ng-disabled="!checkedplace" class="form-control" id="place"
                               placeholder="insert your place"
                               data-ng-model="gcalendarinput.place"
                               required="" name="uplace"
                               maxlength="100"
                               data-ng-trim="false"
                        >
                        <span>{{100 - gcalendarinput.place.length}} left </span>
                        <div data-ng-show="form.$submitted || form.uplace.$touched">
                            <span data-ng-show="form.uplace.$error.place"
                                  style="color: #b81900">This is not a valid place</span>
                        </div>
                    </div>
                </div>

                <!---       ---------------------------------------------------------------------     -->


<!-- EVENT DATE -->
                <label>
                    <input
                            id="weatheridcheckbox"
                            type="checkbox"
                            data-ng-model="checkdata"
                            name="checkdataname"

                    > <b> <img src="/progetto/static/images/gcalendarChannel/event-date.png" height="30" width="30"/>
                    Event date</b></label>

                <br>
                <div data-ng-show="checkdata" class="animate-if">
                    <h5>Event begins at...</h5>

                    <label for="selectYear">Year:</label>
                    <select name="mySelect" id="selectYear"
                            data-ng-disabled="!checkdata"
                            data-ng-options="option.year  for option in yearVector.availableOptions track by option.id"
                            data-ng-model="yearVector.selectedOption"></select>
                    <br>

                    <label for="selectMonth">Month:</label>
                    <select name="mySelect" id="selectMonth"
                            data-ng-disabled="!checkdata"
                            data-ng-options="option.month  for option in monthVector.availableOptions track by option.id"
                            data-ng-model="monthVector.selectedOption"></select>
                    <br>

                    <label for="selectDay">Day:</label>
                    <select name="mySelect" id="selectDay"
                            data-ng-disabled="!checkdata"
                            data-ng-options="option.day  for option in dayVector.availableOptions track by option.id"
                            data-ng-model="dayVector.selectedOption"></select>

                    <br>

                    <label for="selectHourStart">Hour:</label>

                    <select name="mySelect" id="selectHourStart"
                            data-ng-disabled="!checkdata"
                            data-ng-options="option.hour  for option in hourVector.availableOptions track by option.id"
                            data-ng-model="hourVector.selectedOption">

                    </select>

                    <label for="selectMinuteStart">Minute:</label>

                    <select name="mySelect" id="selectMinuteStart"
                            data-ng-disabled="!checkdata"
                            data-ng-options="option.minute  for option in minuteVector.availableOptions track by option.id"
                            data-ng-model="minuteVector.selectedOption">

                    </select>

                </div>


                <!---       ---------------------------------------------------------------------     -->


                <br>


<!-- EVENT DURATION -->
                <label>
                    <input
                            id="durationEvent"
                            type="checkbox"
                            data-ng-model="durationEventCheck"
                            name="durationEventName"

                    > <img src="/progetto/static/images/gcalendarChannel/event-duration.png" height="30" width="30"/>
                    <b>Event duration</b></label>


                <br>
                <div data-ng-show="durationEventCheck" class="animate-if">

                    <label for="selectHourStart">Hour:</label>

                    <select name="mySelect" id="selectHourDuration"
                            data-ng-disabled="!durationEventCheck"
                            data-ng-options="option.hour  for option in hourVector.availableOptions track by option.id"
                            data-ng-model="hourVector.selectedOptionDuration">
                    </select>

                    <label for="selectMinuteStart">Minute:</label>

                    <select name="mySelect" id="selectMinuteDuration"
                            data-ng-disabled="!durationEventCheck"
                            data-ng-options="option.minute  for option in minuteVector.availableOptions track by option.id"
                            data-ng-model="minuteVector.selectedOptionDuration">
                    </select>

                    <!--
                    <label for="selectHourDuration">Hour:</label>

                    <select name="mySelect" id="selectHourDuration"
                            data-ng-disabled="!durationEventCheck"
                            data-ng-options="option.hour  for option in hourVectorDuration.availableOptions track by option.id"
                            data-ng-model="hourVectorDuration.selectedOption">

                    </select>

                    <label for="selectMinuteDuration">Minutes:</label>

                    <select name="mySelect" id="selectMinuteDuration"
                            data-ng-disabled="!durationEventCheck"
                            data-ng-options="option.minute  for option in minuteVectorDuration.availableOptions track by option.id"
                            data-ng-model="minuteVectorDuration.selectedOption">
                    </select>
                    -->


                </div>




<!--- TIMEZONE  -->
                <label>
                    <input
                            id="timeZone"
                            type="checkbox"
                            data-ng-model="timeZoneCheck"
                            name="durationEventName"

                    > <img src="/progetto/static/images/trigger-icons/timezone.png" height="30" width="30"/> <b>Custom
                    timezone </b></label>

                <!--
                <input id="weatheridinput" ng-disabled="!checkmodelcheckweather" type="search" name="input" ng-model="trigger1input.value2"
                       required>
                       -->
                <br>
                <div data-ng-show="timeZoneCheck" class="animate-if">

                    <label for="selecttimezone">Time zone:</label>
                    <select name="mySelect" id="selecttimezone"
                            data-ng-disabled="!timeZoneCheck"
                            data-ng-options="option.zone  for option in timezoneVector.availableOptions track by option.id"
                            data-ng-model="timezoneVector.selectedOption"></select>

                </div>


                <hr>


                <div>
                    <!-- ng-disabled="!checkedtitle && !checkedSubject && !checkdata && !checkedplace" -->
                    <a type="submit" class="btn btn-danger pull-left  animate-if" href="#allActions"
                       data-ng-show="!modifyButton && !importRecipe"
                    >Cancel</a>


                    <a type="submit" class="btn btn-danger pull-left  animate-if" href="#choseModify"
                       data-ng-show="modifyButton && !importRecipe"
                    >Cancel</a>

                    <a type="submit" class="btn btn-danger pull-left  animate-if"
                       data-ng-click="backfunctionActionPuclicRecipe()"
                       data-ng-show="importRecipe && !modifyButton"
                    >Cancel</a>




                    <a type="submit"
                       class="btn btn-primary pull-right btn_next6  animate-if"
                       data-ng-click="actiongcalendar(gcalendarinput,  yearVector, monthVector, dayVector)"
                       data-ng-show="!modifyButton"
                    >Submit</a>


                    <a type="submit"
                       class="btn btn-primary pull-right btn_next6  animate-if"
                       data-ng-click="actiongcalendar(gcalendarinput,  yearVector, monthVector, dayVector)"
                       data-ng-show="modifyButton"
                    >Submit</a>


                </div>
                <!-- data-toggle="modal" data-target="#recipedDescriptionModal" -->
                <br>
                <br>
                <hr>

            </form>
        </div>
        <div class="col-md-4">
        </div>
    </div>

</div>


<!--href="#SubGMailAction" -->

<!-- example date
<script>
    angular.module('dateInputExample', [])
            .controller('DateController', ['$scope', function($scope) {
                $scope.example = {
                    value: new Date(2013, 9, 22)
                };
            }]);
</script>

-->


</body>
<!--
Example code
<label>Click me to toggle: <input type="checkbox" ng-model="checked"></label><br/>
<button ng-model="button" ng-disabled="checked">Button</button>
-->


<script>
	
	var param = (window.location.hash).split("?");
	if(param[1]!=null)
		count = param[1].split("=")[1];

    if (importFlag == true) {
        if (iftttLogin == false) {
            url = "#home";
            window.location.replace(url);
        }

    }
    else {
        if (setChooseAx == 5) {
            if (iftttLogin == false) {
                url = "#home";
                window.location.replace(url);
            }

        }
        else {
            if (modifyVar == 1) {
                if (iftttLogin == false) {
                    url = "#home";
                    window.location.replace(url);
                    modifyCountVar = 0;
                }
                else {
                    if (googleLogin == "1") {
                        if (modifyCountVar == 2) {
                            modifyCountVar++;
                        }
                        else {
                            if (modifyCountVar < 2) {
                                url = "#/index/myRecipes";
                                window.location.replace(url);
                            }

                        }


                    }
                    else {
                        url = "#home";
                        window.location.replace(url);
                        alertWarning("Non sei loggato a Google");
                    }
                }
            }

            else {


                if (iftttLogin == false) {
                    url = "#home";
                    window.location.replace(url);
                    count = 0;
                    flagTriggerDone = "0";
                }
                else {

                    if (googleLogin == "1") {

                        if (flagTriggerDone == "0") {
                            alertWarning("You have to compile a trigger ingredient!");
                            url = "#allTriggers";
                            window.location.replace(url);
                        }
                        if (count == 5) {
                            count++;
                        }
                        else {
                            if (count < 5) {
                                url = "#createDO";
                                window.location.replace(url);
                            }

                        }
                    }
                    else {
                        url = "#createDO";
                        window.location.replace(url);
                    }
                }
            }

        }
    }
</script>

</html>



<!--
<input id="weatheridinput" ng-disabled="!checkmodelcheckweather" type="search" name="input" ng-model="trigger1input.value2"
       required>
       -->


<!--
<input id="weatheridinput" ng-disabled="!checkmodelcheckweather" type="search" name="input" ng-model="trigger1input.value2"
       required>
       -->