<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My recipes</title>
</head>
<body data-ng-controller="publicRecipesController"> <!- versione di prova -->

<div class="container" style="padding-top: 6%">
    <div class="row">
        <div class="col-md-2">
        </div>
        <!--  {{privateprivateuserRecipesVetVet[0].triggerType}} -->
        <div class="col-md-8">
            <ul class="list-group"> <!-- privateprivateuserRecipesVetVet =  userRecipes -->
                <li class="list-group-item active text-center"><h1><span class="glyphicon glyphicon-adjust"
                                                                         aria-hidden="true"></span> IFTTT Polito
                    public recipes</h1></li>
                <li data-ng-repeat="f in  userRecipes" class="list-group-item">
                    <div class="row">

                        <div class="col-md-5 text-center">
                            <h4>{{f.triggerIngredientCode | describe}}</h4>
                        </div>

                        <div class="col-md-5 center-text">
                            <h4>{{f.actionIngredientCode | describe}}</h4>
                        </div>

                        <div class="col-md-2">

                            <button data-ng-show="iftttLogged"
                                    title="Import this recipe"
                                    data-toggle="tooltip"
                                    data-placement="bottom"
                                    bs-tooltip style="margin-left: 3px"
                                    class="btn btn-primary pull-right vcenter"
                                    ng-click="routeListener('#createRecipe'); ngImportRecipeAlert(f.triggerIngredientCode, f.actionIngredientCode)"
                                    data-ng-click="modifyRecipe(f.index)">
                                <span class="glyphicon glyphicon glyphicon-save"></span>
                            </button>

                            <button data-ng-show="!iftttLogged"
                                    title="Please login to import this recipe"
                                    data-toggle="tooltip"
                                    data-placement="bottom"
                                    bs-tooltip style="margin-left: 3px"
                                    class="btn btn-warning pull-right vcenter">
                                <span class="glyphicon glyphicon glyphicon-save"
                                      data-toggle="modal"
                                      data-target="#loginIFTTTModal"
                                      data-ng-click="routeListener('#publicRecipes')"></span>
                            </button>

                        </div>


                    </div>


                </li>

            </ul>

        </div>

    </div>
    <div class="row text-center" style="padding-top: 3%">
        <h3>or</h3>
    </div>
    <div class="row text-center" style="padding-top: 4%">


        <a class="btn btn-success btn-large"
           ng-if="!iftttLogged" style="margin-left: 6px"
           data-toggle="modal" data-target="#loginIFTTTModal"
           ng-click="routeListener('#createRecipe')">
            <h4>Create new recipe </h4></a>

    </div>

    <div class="row text-center" style="padding-top: 4%">

        <a class="btn btn-success btn-large" ng-if="iftttLogged" href="#createRecipe"><h4>Create a new recipe</h4></a>

    </div>


</div>
</body>

<script>

    // Commento aggiunto per poter fare il commit iniziale del branch 'client'
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            container: 'body'
        });
    });


</script>

<style type="text/css">
    em {
        font-style: normal; /* Removes italics */
        text-decoration: underline; /* Makes underline */
    }
</style>

</html>