<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a DO recipe</title>
</head>
<body>

<!-- Actions -->
<div class="container">

    <h1 class="page-header"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Choose an action
        <small class="animate-if" ng-if="modifyButton">Step 5/6</small>
    </h1>

    <!-- GCalendar -->
    <div class="container" style="padding-top: 4%">


        <div class="row">

            <h1><img src="../images/gcal.png" style="width:42px;height:42px;border:0;"> GCalendar </h1>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <h2>
                        <img src="../images/gcalendarChannel/new-event.png" style="width:42px;height:42px;border:0;"/> Create new event
                    </h2>
                    <p>
                        This will create a new event in response to te trigger you chose.
                    </p>
                   <!--
                    <p>
                        <a class="btn btn_next5" href="#action1Gcalendar">Continue <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></a>
                    </p>
                    -->

                    <p>
                        <a class="btn btn_next2" ng-if="!googleLogged" data-toggle="modal" data-target="#loginGoogleModal" ng-click="routeListener('action1Gcalendar')">Continue<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                    </p>
                    <p>
                        <a class="btn btn_next2" href="#action1Gcalendar" ng-if="googleLogged" >Continue<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                    </p>


                </div>
            </div>
        </div>
    </div>

    <img src="../images/divider.png" height="100" width="100" class="img-responsive center-block"/>

    <!-- GMail -->
    <div class="container">


        <div class="row">

            <h1><img src="../images/gmail.ico" style="width:42px;height:42px;border:0;"> GMail </h1>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <h2>
                        <img src="../images/gmailChannel/send-email.png" style="width:42px;height:42px;border:0;"> Send email
                    </h2>
                    <p>
                        Send an email to an Address. Email content is coptional.
                    </p>

                    <!--
                    <p>
                        <a class="btn btn_next5" href="#gMailAction">Continue <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                    </p>
                    -->

                    <p>
                        <a class="btn btn_next2" ng-if="!googleLogged" data-toggle="modal" data-target="#loginGoogleModal" ng-click="routeListener('gMailAction')">Continue<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                    </p>
                    <p>
                        <a class="btn btn_next2" href="#gMailAction" ng-if="googleLogged" >Continue<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                    </p>





                </div>
            </div>
        </div>
    </div>

    <img src="../images/divider.png" height="100" width="100" class="img-responsive center-block"/>

    <!-- Twitter -->
    <div class="container" >


        <div class="row">

            <h1><img src="../images/twitter.png" style="width:42px;height:42px;border:0;"> Twitter </h1>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <h2>
                        <img src="../images/twitterChannel/new-tweet.png" style="width:42px;height:42px;border:0;"> New tweet
                    </h2>
                    <p>
                        Post a new tweet with the specified Text.
                    </p>
                    <p>
                        <a class="btn btn_next2" ng-if="!twitterLogged" data-toggle="modal" data-target="#loginTwitterModal" ng-click="routeListener('Action1Twitter')">Login in Twitter <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                    </p>
                    <p>
                        <a class="btn btn_next2" href="#Action1Twitter" ng-if="twitterLogged" >Continue <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                    </p>
                </div>
                <div class="col-md-6">
                    <h2>
                        <img src="../images/twitterChannel/direct-message.png" style="width:42px;height:42px;border:0;"> New private message
                    </h2>
                    <p>
                        Send a new private message to a certain User with some Text.
                    </p>
                    <p>
                        <a class="btn btn_next2" ng-if="!twitterLogged" data-toggle="modal" data-target="#loginTwitterModal" ng-click="routeListener('Action2Twitter')">Login in Twitter <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                    </p>
                    <p>
                        <a class="btn btn_next2" href="#Action2Twitter" ng-if="twitterLogged" >Continue <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

</body>

<script>
    if (setChooseAx == 5)
    {
        if (iftttLogin == false)
        {
            url = "#home";
            window.location.replace(url);
        }

    }
    else {
        modifyCountVar = 0;
        if (iftttLogin == false) {
            url = "#home";
            window.location.replace(url);
            count = 0;
            flagTriggerDone = "0";
        }
        else {
            if (count == 4) {
                count++;
            }
            else {
                if (count < 4) {
                    url = "#createRecipeAction";
                    window.location.replace(url);
                }

            }
        }
    }

</script>

</html>