<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot password</title>
</head>
<body ng-controller="forgotPasswordController">


<div id="createAccountKeyup" class="container" style="padding-top: 6%">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2>Forgot password?</h2>
            <hr>
            <h4>Please, enter your correct<br>Username and E-mail Address</h4>
            <hr>
            <form role="form" name="form">
                <div class="form-group">


                    <div class="controls">

                        <label for="inputUser">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Username
                        </label>
                        <input autofocus type="text" class="form-control" ng-model="user" id="inputUser"
                               placeholder="insert your username"
                               name="user" required
                        />
                        <span style="color: #cd0a0a" class="help-inline"
                              ng-show="submitted && form.user.$error.required">Required
                        </span>

                    </div>

                </div>
                <div class="form-group">
                    <div class="controls">
                        <label for="inputEmail">
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true">
                            </span> Email address
                        </label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="insert your email"
                               name="email" required ng-model="email"
                        />

                        <span style="color: #cd0a0a"
                              class="help-inline" ng-show="submitted && form.email.$error.required">Required</span>
                        <span style="color: #cd0a0a"
                              class="help-inline" ng-show="submitted && form.email.$error.email">Invalid email</span>
                    </div>
                </div>
                <hr>
                <a class="btn btn-danger pull-left" href="#">
                    Cancel
                </a>

                <button id="forgotPasswordSubmit" type="submit" class="btn btn-primary pull-right"
                        ng-click="submitted=true; forgotPasswordFunc(user, email)">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>

</body>

<script>
    $("#createAccountKeyup").keyup(function (event) {
        if (event.keyCode == 13) {
            $("#createAccountSubmit").click();
        }
    });
</script>

</html>