<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>


</head>
<body>

<!-- Page Content -->
<div class="container">

    <!-- Page Header -->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-lg-8">
            <h1 class="page-header">IFTTT
                <small>by PoliTo <span class="glyphicon glyphicon-education" aria-hidden="true"></span></small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="jumbotron">
                    <h2>
                        Welcome all!
                    </h2>
                    <p>
                        In this website you can create some <b>recipes</b> (called <i>IFTTT Polito Recipes</i> ). A <b>recipe</b> is a <i>chain</i> of two elements; the former is the <i>trigger</i> and the latter is the <i>action</i>. When tomorrow rains (trigger) you could be get advised by an email (action). This is a simple example, go further to create more complex recipes and have fun!
                    </p>
                    <p>
                        <a class="btn btn-primary btn-large" href="#about">Find out more</a>
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <h2>
                            Continue with login
                        </h2>
                        <p>
                            If you are already registered, click here to access your recipes from your personal page, and if you do not you can immediately start to create one!
                        </p>
                        <p>
                        <p>
                            <a class="btn" ng-if="!iftttLogged" data-toggle="modal" data-target="#loginIFTTTModal" ng-click="routeListener('index/myRecipes')">Login <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a>
                            <a class="btn" ng-if="iftttLogged" href="#index/myRecipes">Create a new recipe <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>





</div>
</body>
</html>