<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recover password</title>
</head>
<body>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2>Create a new account</h2>
        <hr>
        <form role="form" name="form">




            <div class="form-group">

                <label for="inputPassword">
                    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span> Type the new password
                </label>
                <div class="controls">
                    <input type="password" class="form-control" id="inputPassword" ng-model="pws1"
                           name="pws1"
                           placeholder="insert your password" required />
                    <div role="alert">
                                    <span  style="color: #cd0a0a" class="error" ng-show="submitted && form.pws1.$error.required">
                                        Required!
                                    </span>
                    </div>
                </div>

                <label for="inputPassword">
                    <span style="padding-top: 10%" class="glyphicon glyphicon-eye-close" aria-hidden="true"></span> Retype password
                </label>
                <div class="controls">
                    <input type="password" class="form-control" ng-model="pws2"
                           name="pws2"
                           placeholder="retype password" required/>

                    <div role="alert">
                                <span  style="color: #cd0a0a" class="error" ng-show="submitted && form.pws2.$error.required">
                                    Required!
                                </span>
                    </div>

                </div>
            </div>
            <span style="color: #cd0a0a" ng-if="pws1 != pws2 && submitted">The two passwords aren't equal</span>


            <hr>

            <button type="submit" class="btn btn-danger pull-left"  onclick="location.href='#'">
                Cancel
            </button>

            <button type="submit" class="btn btn-primary pull-right"   ng-click="submitted=true; passwordRecoveryFunc(pws1,pws2 )">
                Submit
            </button>
        </form>
    </div>
</div>

</body>
</html>