<web-app version="3.0"
		xmlns="http://java.sun.com/xml/ns/javee"
		xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
		xmlns:xsi="http://www.m3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>Archetype Created Web Application</display-name> 

   
</web-app>