#max-bar .slider-selection {
    background: #ff5b34;

}
#max-bar .slider-handle {
    background: #ff5b34;
}


#min-bar .slider-selection {
    background: #62a9ba;

}

#min-bar .slider-handle{
    background: #62a9ba;
}

